<mat-toolbar color="primary">My App</mat-toolbar>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <mat-card>
      <form [formGroup]="loginForm">
        <mat-form-field class="input-field">
          <input matInput formControlName="dates" autofocus>
        </mat-form-field>
      </form>
    </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <mat-card class="input-card">
        <mat-card-header>
          <mat-card-title>
            <span>{{now | date}} </span>
            <span *ngIf="duration$ | async">({{duration$ | async | timeSpan}})</span>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
         <div *ngFor="let item of data$ | async">
            <app-time-span [span]="item"></app-time-span>
          </div>
        </mat-card-content>
    </mat-card>
    </div>
  </div>
</div>
