.input-card {
  margin-top: 5px;
  margin-bottom: 5px;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.version {
  font-weight: 50;
  font-size: medium;
}

.toolbar-icon {
  padding: 0 14px;
  font-size: 1.5em;
  vertical-align: middle;
}
