<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span id="title">
      {{ 'wd.app.title' | translate}}
    </span>
    <span class="fill-remaining-space"></span>
    <span class="version">{{ version }}</span>
    <button mat-icon-button>
      <mat-icon>settings_applications</mat-icon>
    </button>
  </mat-toolbar-row>

</mat-toolbar>
<div class="container">
  <app-time-input [clear]="clearSubject.asObservable()" (text)="handleValue($event)"></app-time-input>

  <div class="row">
    <div class="col-md-12">
      <mat-card class="input-card">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>
            <span>{{(data$ | async).date | date}} </span>
            <span *ngIf="(data$ | async).duration">({{(data$ | async).duration | timeSpan}})</span>
            <span *ngIf="(data$ | async).etd"> ETD: {{(data$ | async).etd | etdTime}}</span>
            </mat-card-title>

            <mat-card-title>
             <app-context [percentage]="(data$ | async).percentage"
                          [breaks]="(data$ | async).breakDuration"
                          [pending]="(data$ | async).pending"
                          [pendingText]="(data$ | async).pendingTime">
              </app-context>
            </mat-card-title>
          </mat-card-title-group>
        </mat-card-header>


        <mat-card-content>

          <div *ngFor="let item of (data$ | async).data">
            <app-time-span [span]="item" [selected]="(data$ | async).selected"></app-time-span>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
